# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments
.venv/
env/
venv/
ENV/

# Pytest cache
.cache/
.pytest_cache/
__pycache__/
structure.txt

# Editors
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Coverage reports
htmlcov/
.tox/

# Logs
*.log
